<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'mainapp/css/bootstrap.min.css' %}">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Домашняя страница</h1>
        </div>
        <br>
        <div class="container">
            <a href="/contact/" class="btn btn-info btn-lg">Контакты</a>
        </div>
    </div>
</body>
</html>